<!DOCTYPE html>
<html>
  <head>
    <title>AcScrapper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <form action="<%= root_path(turbo_frame: 'items') %>" method="get" data-turbo-frame="items" data-controller="form" data-action="input->form#submit">
        <label for 'search_query'>Query:</label>
        <input id="search_query" name="query" type="search" value="<%= params[:query]%>" pattern=".*\w+.*"/>
        <input type="submit" value="Search" data-form-target="submit"/>
      </form>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
